<a href="https://colab.research.google.com/github/ssumannb/BigData_Analyst_exam/blob/main/Car_crash_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import seaborn as sns
import pandas as pd

sns.get_dataset_names()
df = sns.load_dataset('car_crashes')
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

Q1. alcohol(음주수치)이 상위 10번째 값으로 상위 1~10위의 범위의 값을 변경한 후  
speeding(속도)가 7 이상의 alcohol 데이터들의 평균 산출

In [65]:
df_sorted = df.sort_values(by='alcohol', ascending=False)
df_sorted.head(10)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
34,23.9,5.497,10.038,23.661,20.554,688.75,109.72,ND
40,23.9,9.082,9.799,22.944,19.359,858.97,116.29,SC
26,21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX
11,17.5,9.450,7.175,14.350,15.225,861.18,120.92,HI
18,20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA
48,23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV
41,19.4,6.014,6.402,19.012,16.684,669.31,96.87,SD
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK

In [67]:
df_sorted['alcohol'].iloc[:10] = df_sorted['alcohol'].iloc[9]
df_speed = df_sorted[df_sorted['speeding']>=7.0]
print(df_speed['alcohol'].mean())

5.600099999999999

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)